/* Add the IBM Plex Sans Arabic font */
@font-face {
    font-family: 'IBM Plex Sans Arabic';
    src: url('./assets/IBMPlexSansArabic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Apply globally or to specific elements */
  body {
    font-family: 'IBM Plex Sans Arabic', sans-serif; /* Set as the default font */
  }

  .ibm-plex-sans-arabic {
    font-family: 'IBM Plex Sans Arabic', sans-serif !important;
  }